.pure-table {
  margin: auto;
}

.syntaxhighlight {
  margin: auto;
  max-width: max(300px, 600px);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.pure-table tfoot td {
  border-top: 1px solid #cbcbcb;
}

.pure-table tfoot td[colspan] {
  text-align: right;
  font-weight: bold;
}

.pure-table tfoot td[colspan] + td[colspan] {
  text-align: unset;
}